In [2]:
import pandas as pd

In [3]:
salaries = pd.read_csv('Resources/matchingSPECIALedSALARIES-edited.csv')
schools = pd.read_csv('Resources/specialED_schools_only.csv', encoding='iso-8859-1')

combined_df = pd.merge(salaries, schools, on = 'School_ID')
combined_df.head()

,Pos #,Dept ID,School_ID,Department,FTE,ClsIndc,Annual Salary,FTE Annual Salary,Annual Benefit Cost,JobCode,...,Attainment_SAT_Grade_11_School_Pct,Attainment_SAT_Grade_11_School_Lbl,Attainment_All_Grades_School_Pct,Attainment_All_Grades_School_Lbl,Growth_PSAT_Math_Grade_10_School_Pct,Growth_PSAT_Math_Grade_10_School_Lbl,Growth_SAT_Reading_Grade_11_School_Pct,Growth_SAT_Reading_Grade_11_School_Lbl,Growth_SAT_Math_Grade_11_School_Pct,Growth_SAT_Math_Grade_11_School_Lbl
0,117327,26731,609871,Barbara Vick EC & Fam Ct,1.0,T,96039,96039,31541,500629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,121944,26731,609871,Barbara Vick EC & Fam Ct,1.0,T,144951,144951,39530,41,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,127816,26731,609871,Barbara Vick EC & Fam Ct,1.0,T,94092,94092,31108,500629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,131698,26731,609871,Barbara Vick EC & Fam Ct,1.0,T,58315,58315,23144,500629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,131698,26731,609871,Barbara Vick EC & Fam Ct,1.0,T,69905,69905,25724,500629,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
combined_df.to_csv("output_data/combined.csv", encoding="utf-8", index=False)

In [4]:
combined_df.count()

Pos #                                     599
Dept ID                                   599
School_ID                                 599
Department                                599
FTE                                       599
                                         ...
Growth_PSAT_Math_Grade_10_School_Lbl        0
Growth_SAT_Reading_Grade_11_School_Pct      0
Growth_SAT_Reading_Grade_11_School_Lbl      0
Growth_SAT_Math_Grade_11_School_Pct         0
Growth_SAT_Math_Grade_11_School_Lbl         0
Length: 192, dtype: int64

In [14]:
columns_needed=[['School_ID','Dept ID','Pos #','FTE','FTE Annual Salary','Job Title','Pos #','Long_Name','School_Type','Primary_Category','Zip','Progress_Report_Year','Student_Attendance_Avg_Pct','Teacher_Attendance_Avg_Pct','One_Year_Dropout_Rate_Avg_Pct','Blue_Ribbon_Award_Year','Suspensions_Per_100_Students_Year_1_Pct',
'Suspensions_Per_100_Students_Year_2_Pct',
'Suspensions_Per_100_Students_Avg_Pct',
'Misconducts_To_Suspensions_Year_1_Pct',
'Misconducts_To_Suspensions_Year_2_Pct',
'Misconducts_To_Suspensions_Avg_Pct',
'Average_Length_Suspension_Year_1_Pct',
'Average_Length_Suspension_Year_2_Pct',
'Average_Length_Suspension_Avg_Pct',
'Attainment_PSAT_Grade_9_School_Pct',
'Attainment_PSAT_Grade_9_School_Lbl',
'Attainment_PSAT_Grade_10_School_Pct',
'Attainment_PSAT_Grade_10_School_Lbl',
'Attainment_SAT_Grade_11_School_Pct',
'Attainment_SAT_Grade_11_School_Lbl',
'Attainment_All_Grades_School_Pct',
'Attainment_All_Grades_School_Lbl',
'PSAT_Grade_9_Score_School_Avg',
'PSAT_Grade_10_Score_School_Avg',
'SAT_Grade_11_Score_School_Avg',
'SAT_Grade_11_Score_CPS_Avg',
'Growth_PSAT_Grade_9_School_Pct',
'Growth_PSAT_Grade_9_School_Lbl',
'Growth_PSAT_Reading_Grade_10_School_Pct',
'Growth_PSAT_Reading_Grade_10_School_Lbl',
'Growth_SAT_Grade_11_School_Pct',
'Growth_SAT_Grade_11_School_Lbl',
'Growth_PSAT_Math_Grade_10_School_Pct',
'Growth_PSAT_Math_Grade_10_School_Lbl',
'Growth_SAT_Reading_Grade_11_School_Pct',
'Growth_SAT_Reading_Grade_11_School_Lbl',
'Growth_SAT_Math_Grade_11_School_Pct',
'Growth_SAT_Math_Grade_11_School_Lbl',
'One_Year_Dropout_Rate_Year_1_Pct',
'One_Year_Dropout_Rate_Year_2_Pct',
'One_Year_Dropout_Rate_Avg_Pct',
'Graduation_4_Year_School_Pct_Year_2',
'Graduation_4_Year_CPS_Pct_Year_2',
Graduation_4_Year_School_Pct_Year_1
Graduation_4_Year_CPS_Pct_Year_1
Graduation_5_Year_School_Pct_Year_2
Graduation_5_Year_CPS_Pct_Year_2
Graduation_5_Year_School_Pct_Year_1
Graduation_5_Year_CPS_Pct_Year_1]]


columns_needed
                 
         
                 
                 
#                  Suspensions_Per_100_Students_Year_1_Pct
# Suspensions_Per_100_Students_Year_2_Pct
# Suspensions_Per_100_Students_Avg_Pct
# Misconducts_To_Suspensions_Year_1_Pct
# Misconducts_To_Suspensions_Year_2_Pct
# Misconducts_To_Suspensions_Avg_Pct
# Average_Length_Suspension_Year_1_Pct
# Average_Length_Suspension_Year_2_Pct
# Average_Length_Suspension_Avg_Pct
# Attainment_PSAT_Grade_9_School_Pct
# Attainment_PSAT_Grade_9_School_Lbl
# Attainment_PSAT_Grade_10_School_Pct
# Attainment_PSAT_Grade_10_School_Lbl
# Attainment_SAT_Grade_11_School_Pct
# Attainment_SAT_Grade_11_School_Lbl
# Attainment_All_Grades_School_Pct
# Attainment_All_Grades_School_Lbl
#                  PSAT_Grade_9_Score_School_Avg
# PSAT_Grade_10_Score_School_Avg
# SAT_Grade_11_Score_School_Avg
# SAT_Grade_11_Score_CPS_Avg
# Growth_PSAT_Grade_9_School_Pct
# Growth_PSAT_Grade_9_School_Lbl
# Growth_PSAT_Reading_Grade_10_School_Pct
# Growth_PSAT_Reading_Grade_10_School_Lbl
# Growth_SAT_Grade_11_School_Pct
# Growth_SAT_Grade_11_School_Lbl
# Growth_PSAT_Math_Grade_10_School_Pct
# Growth_PSAT_Math_Grade_10_School_Lbl
# Growth_SAT_Reading_Grade_11_School_Pct
# Growth_SAT_Reading_Grade_11_School_Lbl
# Growth_SAT_Math_Grade_11_School_Pct
# Growth_SAT_Math_Grade_11_School_Lbl

# One_Year_Dropout_Rate_Year_1_Pct
# One_Year_Dropout_Rate_Year_2_Pct
# One_Year_Dropout_Rate_Avg_Pct



#  ]]

[['School_ID',
  'Dept ID',
  'Pos #',
  'FTE',
  'FTE Annual Salary',
  'Job Title',
  'Pos #',
  'Long_Name',
  'School_Type',
  'Primary_Category',
  'Zip',
  'Progress_Report_Year',
  'Student_Attendance_Avg_Pct',
  'Teacher_Attendance_Avg_Pct',
  'One_Year_Dropout_Rate_Avg_Pct',
  'Blue_Ribbon_Award_Year',
  'Suspensions_Per_100_Students_Year_1_Pct',
  'Suspensions_Per_100_Students_Year_2_Pct',
  'Suspensions_Per_100_Students_Avg_Pct',
  'Misconducts_To_Suspensions_Year_1_Pct',
  'Misconducts_To_Suspensions_Year_2_Pct',
  'Misconducts_To_Suspensions_Avg_Pct',
  'Average_Length_Suspension_Year_1_Pct',
  'Average_Length_Suspension_Year_2_Pct',
  'Average_Length_Suspension_Avg_Pct',
  'Attainment_PSAT_Grade_9_School_Pct',
  'Attainment_PSAT_Grade_9_School_Lbl',
  'Attainment_PSAT_Grade_10_School_Pct',
  'Attainment_PSAT_Grade_10_School_Lbl',
  'Attainment_SAT_Grade_11_School_Pct',
  'Attainment_SAT_Grade_11_School_Lbl',
  'Attainment_All_Grades_School_Pct',
  'Attainment_All_Grades_School_Lbl',
  'PSAT_Grade_9_Score_School_Avg',
  'PSAT_Grade_10_Score_School_Avg',
  'SAT_Grade_11_Score_School_Avg',
  'SAT_Grade_11_Score_CPS_Avg',
  'Growth_PSAT_Grade_9_School_Pct',
  'Growth_PSAT_Grade_9_School_Lbl',
  'Growth_PSAT_Reading_Grade_10_School_Pct',
  'Growth_PSAT_Reading_Grade_10_School_Lbl',
  'Growth_SAT_Grade_11_School_Pct',
  'Growth_SAT_Grade_11_School_Lbl',
  'Growth_PSAT_Math_Grade_10_School_Pct',
  'Growth_PSAT_Math_Grade_10_School_Lbl',
  'Growth_SAT_Reading_Grade_11_School_Pct',
  'Growth_SAT_Reading_Grade_11_School_Lbl',
  'Growth_SAT_Math_Grade_11_School_Pct',
  'Growth_SAT_Math_Grade_11_School_Lbl',
  'One_Year_Dropout_Rate_Year_1_Pct',
  'One_Year_Dropout_Rate_Year_2_Pct',
  'One_Year_Dropout_Rate_Avg_Pct']]